<ion-split-pane contentId="menu-content" >
  <ion-menu contentId="menu-content" menuId="adminmenu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>onSplitPaneVisible</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      start
    </ion-content>
  </ion-menu>
  <ion-router-outlet >
    <ion-header>
      <ion-toolbar>
        <ion-title>adminmenu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <!-- <ion-nav animated="true" root="" swipeGesture="true"></ion-nav> -->
    </ion-content>
  </ion-router-outlet>
</ion-split-pane>


