

<ion-content>

  <ion-item button [routerLink]="['/rhprofile']" routerLinkActive="router-link-active" lines ='none' detail = 'false' (click)="dismiss($event)">
    <ion-icon slot="start" name="home"></ion-icon>
    <ion-label>Rental House Profile</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/tpmembers']" routerLinkActive="router-link-active" lines ='none' detail = 'false' (click)="dismiss($event)">
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>Co-Tenants</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/tenantannouncement']" routerLinkActive="router-link-active" lines ='none' detail = 'false' (click)="dismiss($event)">
    <ion-icon slot="start" name="megaphone"></ion-icon>
    <ion-label>Announcements</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/rhcontacts']" routerLinkActive="router-link-active" lines ='none' detail = 'false' (click)="dismiss($event)">
    <ion-icon slot="start" name="call"></ion-icon>
    <ion-label>Contacts</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/paymenthistory']" routerLinkActive="router-link-active" lines ='none' detail = 'false' (click)="dismiss($event)">
    <ion-icon slot="start" name="card"></ion-icon>
    <ion-label>Payment History</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/complaints']" routerLinkActive="router-link-active" lines ='none' detail = 'false' (click)="dismiss($event)">
    <ion-icon slot="start" name="sad"></ion-icon>
    <ion-label>Report Complaints</ion-label>
  </ion-item>
  
</ion-content>
