<ion-header color="secondary" mode="md">
  <ion-toolbar color="secondary">
    <ion-item slot="end" color="secondary">
      <ion-button href="/login"  expand="block" color="primary" >
        Login
      </ion-button>
      <ion-button href="/signup"  expand="block" color="tertiary" >
        Sign Up
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" mode="md">
  <div class="logo-con row align-items-center">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../../assets/icon/favicon.svg" />
      </ion-avatar>
      <ion-label>HanapBahay App</ion-label>
    </ion-item>
  </div>

  <div class="feat-n-price row align-items-center">
    <div class="con col align-self-center">
      <div class="btn-con">
        <button class="btn-features">
          Features
        </button>
        <button class="btn-pricing">
          Pricing
        </button>
      </div>
    </div>
  </div>
  
  <div class="footer">
      <h6>This is a Beta version, this is used for testing purposes only.</h6>
  </div>
</ion-content>