ion-content {
    .wrapper{
        width: 90%;
        margin: 0em auto;
        ion-button{
            width: fit-content;
            margin: 1em 0em 0em auto;
        }
        .capacity-full-warn{
            color: var(--ion-color-danger);
        }
    }
}

