<ion-header>
  <ion-toolbar mode="md">
    <!-- <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Report Issues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <ion-card mode="md">
      <ion-card-header mode="md">
        <ion-card-title>  Bugs and Issues</ion-card-title>
        <ion-card-subtitle>Hello, Having a bad experience? Write your issues down below and we'll see what we can do.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content mode="md">
        <ion-item>
          <ion-label position="floating">Type Here</ion-label>
          <ion-textarea rows = "1" auto-grow="true" [(ngModel)]="errorInput"></ion-textarea>
        </ion-item>
        <ion-button (click)="submit()">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          Submit
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
