ion-header{
    ion-toolbar{
        .BH_Name{
            opacity: 100%;
            font-size: 18px;
        }
    }
}
ion-content{
    --background: rgb(243, 243, 243);
   .wrapper{
       max-width: 700px;
       margin: 1em auto;
       ion-note{
           margin: 1em;
       }
        ion-list{
            width: 100%;
            margin: auto;
            ion-item-sliding{
                ion-item{
                    div{
                        .cname{
                            font-size: 13px;
                        }
                    }
                }
                ion-item-options{
                    ion-item-option{
                        text-transform: initial;
                    }
                    a{
                        padding: 17.5px 1em;
                        color: white;
                        background-color: #1672db;
                        text-decoration: none;
                    }
                }
            }
    
        }
   }
}
.add_contact1 , .add_contact{
    color: white;
    --background: #0078EE;
    &:hover{
        --background: grey;
    }
}

.add_contact1{
    display: none;
}



@media screen and(max-width: 600px){
    .add_contact{
        display: none;
    }
    .add_contact1{
        display: flex;
    }

}