ion-content{
    ion-list{
        width: 90%;
        margin: auto;
        ion-button{
            --background: #0078EE;
            margin: 1em auto;
            width: 220px;
            &:hover{
                --background: grey;
            }
        }
    }
}

ion-header{
    ion-toolbar{
        ion-button{
            &:hover{
                --color: red;
            }
        }
    }
}