<ion-header >
  <ion-toolbar mode="md" color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="presentPopover($event)" >
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines='none' mode="md" color="secondary">
      <ion-label position='stacked' color="light" class="name-label">{{RH_Details.RRP_Name}}</ion-label>
      <ion-input disabled>Rental House Profile</ion-input>
    </ion-item>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div>
    <div>
      <ion-slides pager= 'true' *ngIf="bhImg">
        <ion-slide *ngFor="let i of bhImg">
            <div>
                <ion-img [src]="i.url"></ion-img>
            </div>
        </ion-slide>
    </ion-slides>
  </div>

  <ion-list>

    <ion-item >
      <ion-icon slot="start" name="home" *ngIf="!profile_img"></ion-icon>
      <ion-avatar slot="start" *ngIf="profile_img">
        <img [src]="profile_img" />
      </ion-avatar>
      <ion-label>{{RH_Details.RRP_Name}}</ion-label>
    </ion-item>
   
    <!-- <ion-item >
      <ion-icon slot="start" [name]="RH_Details.Icon"></ion-icon>
      <ion-label>{{RH_Details.RRP_Type | titlecase}}</ion-label>
    </ion-item> -->

    <ion-item >
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-label>Owned by <a [routerLink]="['/profileview']" routerLinkActive="router-link-active" >{{RH_Owner_Name | titlecase}}</a></ion-label>
    </ion-item>

    <ion-item-sliding >
      <ion-item class="contact">
        <ion-icon slot="start" name="book"></ion-icon>
        <ion-label>+63{{RH_Details.Contact_Number}}</ion-label>
        <ion-icon slot="end" name="chevron-back" ></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="call()" *ngIf="inMobile">
          <ion-icon name="call" slot="top"></ion-icon>
          <ion-label slot="bottom">Call</ion-label>
        </ion-item-option>

        <a href="tel: +63{{RH_Details.Contact_Number}}" title="call" *ngIf="!inMobile">Call</a>


        

      </ion-item-options>
    </ion-item-sliding>

    <ion-item >
      <ion-icon slot="start" name="location"></ion-icon>
      <ion-label>{{RH_Details.RRP_Address | titlecase}}</ion-label>
    </ion-item>
    
    <!-- <ion-item >
      <ion-icon slot="start" name="bed"></ion-icon>
      <ion-label>Available spaces: {{RH_Availability}} </ion-label>
    </ion-item> -->

    <!-- <ion-item >
      <ion-icon slot="start" name="card"></ion-icon>
      <ion-label>Php {{RH_Details.RRP_Rent_Rate}} per month</ion-label>
    </ion-item> -->

    <ion-item (click)="showDes()" lines="{{showicon == 'chevron-up' ? 'none' : ''}}">
      <ion-icon slot="start" name="information"></ion-icon>
      <ion-label>Description</ion-label>
      <ion-icon slot="end" [name]="showicon"></ion-icon>
    </ion-item>
    <ion-item  *ngIf="showicon == 'chevron-up'">
      <ion-label class="ion-text-wrap">{{RH_Details.RRP_Description}}</ion-label>
    </ion-item>

    <div class="rating">

      <h4>Ratings <ion-badge color="primary" *ngIf="RH_Ratings">{{Rating_Counter}}</ion-badge></h4>

      <ng-container *ngIf="Rating_Counter != 0">
        <div  *ngFor="let i of Rating_Summary">
          <ion-label>{{i.name}}</ion-label>
          <ion-progress-bar [value]="i.value"></ion-progress-bar>
          <ion-badge color="primary">{{i.noRated}}</ion-badge>
        </div>
        <ion-chip color="primary" mode="ios" outline="true" size="md">
          <ion-label>{{Average_Rating|number:'1.0-2'}} Average Ratings</ion-label>
        </ion-chip>
      </ng-container>

      <ion-note *ngIf="Rating_Counter == 0">No Ratings yet</ion-note>

      <br><br>
      <ion-label *ngIf="!alreadyRated" >Rate</ion-label>
      <ion-label *ngIf="alreadyRated" >Your Rating</ion-label>
      <br>
      <ion-buttons fill="clear" >
        <ion-button fill="clear" *ngFor="let i of stars" color="primary" (click)="rate(i.value)">
          <ion-icon slot="start" name = '{{i.icon}}'></ion-icon>
        </ion-button>
        <ion-button fill="outline" shape="round" (click)="sendRate()" color="primary" *ngIf="yourRating && !alreadyRated">
          <ion-label >Send</ion-label>
        </ion-button>
        <ion-button fill="outline" shape="round" (click)="sendRate()" color="primary" *ngIf="yourRating && alreadyRated && yourRating != prevRating">
          <ion-label >Change</ion-label>
        </ion-button>
      </ion-buttons>

    </div>



    <div class="review">
      <h4>Reviews <ion-badge color="primary" *ngIf="RH_Ratings">{{Rating_Counter}}</ion-badge></h4>
      <ion-note *ngIf="Rating_Counter == 0">No reviews yet</ion-note>

      <ion-label *ngIf="alreadyRated" >Your Review</ion-label>

      <ion-item >
        <ion-label position="floating" >Write a review</ion-label>
        <ion-textarea [(ngModel)]="yourReview" [ngModelOptions]="{standalone: true}" auto-grow rows="1"></ion-textarea>
      </ion-item>

      <ion-button fill="clear" shape="round" expand="full" (click)="sendReview()" *ngIf="!alreadyRated" fill="outline" class="rev-but">Send</ion-button>
      <ion-button fill="clear" shape="round" expand="full" (click)="sendReview()" *ngIf="alreadyRated"  fill="outline" class="rev-but">Change</ion-button>

      <ng-container *ngIf="Rating_Counter != 0">
        <ion-item *ngFor="let i of RH_Rating_Fake" class="reviews">
          <div>
           <ion-label class="rev_size" color="primary">user • <span>rated {{i.Rating_Value}} stars</span></ion-label>
           <ion-label class="ion-text-wrap">{{i.Review_Content}}</ion-label>
          </div>
        </ion-item>
      </ng-container>
      <ion-button fill="clear" shape="round" expand="full" [routerLink]="['/rvw']"  *ngIf="Rating_Counter != 0" (click)="gotoReviews()">View All ratings & reviews</ion-button>
    </div>
  </ion-list>
  </div>
</ion-content>





<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentPopover($event)" >
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines='none' mode="ios">
      <ion-label position='stacked' class="name-label" color="primary">{{RH_Details.RRP_Name}}</ion-label>
      <ion-input disabled>Rental House Profile</ion-input>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item >
      <ion-icon slot="start" name="woman"></ion-icon>
      <ion-label>{{RH_Details.RRP_Type | titlecase}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-icon slot="start" name="home"></ion-icon>
      <ion-label>{{RH_Details.RRP_Name}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-label>Owned by {{RH_Owner_Name | titlecase}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-icon slot="start" name="book"></ion-icon>
      <ion-label>{{RH_Details.Contact_Number}}</ion-label>
      <ion-button shape="round" fill="clear">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item >
      <ion-icon slot="start" name="location"></ion-icon>
      <ion-label>{{RH_Details.RRP_Address}}</ion-label>
    </ion-item>
    
    <ion-item >
      <ion-icon slot="start" name="bed"></ion-icon>
      <ion-label>Available spaces: {{RH_Availability}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-icon slot="start" name="card"></ion-icon>
      <ion-label>Php {{RH_Details.RRP_Rent_Rate}} rent per month</ion-label>
    </ion-item>

    
    <div class="rating">
      <h4>Ratings <ion-badge color="primary" *ngIf="RH_Ratings">{{Rating_Counter}}</ion-badge></h4>
      <ng-container *ngIf="Rating_Counter != 0">
        <div  *ngFor="let i of Rating_Summary">
          <ion-label>{{i.name}}</ion-label>
          <ion-progress-bar [value]="i.value"></ion-progress-bar>
          <ion-badge color="primary">{{i.noRated}}</ion-badge>
        </div>
        <h4><span>{{Average_Rating|number:'1.0-2'}}</span> &nbsp;&nbsp;Average Ratings</h4>
      </ng-container>
      <ion-note *ngIf="Rating_Counter == 0">No Ratings yet</ion-note>
      <br><br><ion-label >Rate</ion-label><br>
      <ion-buttons fill="clear" >
        <ion-button fill="clear" *ngFor="let i of stars" color="primary" (click)="rate(i.value)">
          <ion-icon slot="start" name = '{{i.icon}}'></ion-icon>
        </ion-button>
        <ion-button fill="outline" shape="round" (click)="sendRate()" color="primary" *ngIf="yourRating" >
          <ion-label>Send</ion-label>
        </ion-button>
      </ion-buttons>
    </div>
  
    <div class="review">
      <h4>Reviews <ion-badge color="primary" *ngIf="RH_Ratings">{{Rating_Counter}}</ion-badge></h4>
      <ion-note *ngIf="Rating_Counter == 0">No reviews yet</ion-note>
      <ion-item>
        <ion-label position="floating" >Write a review</ion-label>
        <ion-textarea [(ngModel)]="yourReview" [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-item>
      <ion-button fill="clear" shape="round" expand="full" (click)="sendReview()" >Send</ion-button>
      <ng-container *ngIf="Rating_Counter != 0">
        <ion-item-group *ngFor="let i of RH_Rating_Fake">
          <ion-item lines = 'none'>
            <ion-label class="rev_size">unknownUser • <span>rated {{i.Rating_Value}} stars</span></ion-label>
          </ion-item>
          <ion-item lines = 'none'>
            <ion-label class="ion-text-wrap">
              {{i.Review_Content}}
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ng-container>
      
     
      <ion-button fill="clear" shape="round" expand="full" [routerLink]="['/bhprofileview/reviews']"  *ngIf="Rating_Counter != 0" (click)="clearRates()">View All ratings & reviews</ion-button>
    </div>
  </ion-list>

  
  </div>
    
        
</ion-content> -->
