
.rev_size{
    font-size: 14px;
    font-weight: bold;
    opacity: 70%;
}
.ion-text-wrap{
    font-size: 14px;
}
ion-header{
    ion-toolbar{
        .name-label{
            opacity: 100%;
        }
    }
}
ion-content{
    --background : rgb(243, 243, 243);
    .tool-opts{
        width: 100%;
        margin: 1em auto;
        .contact{
            ion-button{
                margin-left: 5px;
            }
        }
        .buttons{
            margin: auto 1em;
            :first-child{

                --background : rgb(4, 172, 74);
            }
            :last-child{
                --background: rgb(6, 105, 197);
            }
            ion-button{
                max-width: 300px;
                margin: .5em auto;
                // display: inline;
            }
        }

    }
    
    div{
        background-color:  white;
        max-width: 800px;
        margin: auto;
        ion-avatar{
            margin-right: 1em;
        }
        a{
            text-decoration: none;
        }
        :first-child{
            ion-slides{
                background: rgb(0, 0, 0);
                ion-slide{
                    div{
                        ion-img{
                            // height: 30vh;
                            width: auto;
                        }
                    }
                }
            }
        }
    
        ion-list{
            .image_upload{
                margin: 1em 5%;
                --background: #0078EE;
                color: white;
                width: 90%;
                &:hover{
                    --background: grey;
                }
            }
            ion-item{
                width: 100%;
                margin: auto;
                ion-buttons{
                    scroll-behavior: smooth;
                    margin: auto;
                    overflow-x: scroll;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                    ::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
            ion-item-sliding{
                ion-item-options{
                    // ion-item-options{
                        
                    // }
                    a{
                        color: white;
                        background: #0978c2;
                        padding: 17px 1em;
                        
                    }
                }
            }
            .rating{
                width: 90%;
                margin: auto;
                h4{
                    margin-top: 2em;
                    // margin-left: 1em;
                    font-size: 21px;
                    span{
                        background-color:  rgb(223, 60, 10);
                        color: white;
                        border-radius: 5em;
                        padding: .5em;
                    }
                }
                
                div{
                    grid-template-columns: 5% 85% 10%;
                    display: grid;
                    margin: 1em auto;
                    ion-label{
                        text-align: right;
                    }
                    ion-badge {
                        --background: #ffffff;
                        --color: #3880ff;
                        --padding-bottom: 4px;
                        --padding-end: 4px;
                        --padding-start: 4px;
                        --padding-top: 4px;
                    }
                    ion-progress-bar{
                        height: 1em;
                        border-radius: 1em;
                        margin-left: 1em ;
                        width: 90%;
                    }
                    ion-buttons{
                        overflow-x: hidden;
                    }
                    
                }
                
            }
    
            .review{
                width: 90%;
                margin: auto;
                .rev-but{
                    margin: .5em auto 2em auto;
                    width: 100px;
                }
                h4{
                    margin-top: 2em;
                    // margin-left: 1em;
                    font-size: 21px;
                    span{
                        background-color:  rgb(223, 60, 10);
                        color: white;
                        border-radius: 5em;
                        padding: .5em;
                    }
                }

                .reviews{
                    --background: rgb(238, 238, 238) ;
                    div{
                        background: transparent;
                        width: 100%;
                        ion-label{
                            font-weight: normal;
                            span{
                                color: rgb(179, 163, 28);
                            }
                        }
                    }
                    

                }
            }
        }
    }
}