.wrapper {
    max-width: 1200px;
    margin: 0em auto;
}

.formAddType, .conFaqs{
    // max-width: 700px;
    margin: 0em auto 1em auto;
}

.conFaqs{
    border-radius: calc(.25rem - 1px);
    background-color: var(--ion-color-primary);
    // border: 1px solid var(--ion-color-primary-shade);
    h6{
        padding: 1em;
        color: white;
        margin: 0em;
    }
}

.formAddType{
    border-radius: calc(.25rem - 1px);
    margin-top: 1em;
    background-color: white;
    padding: 2em 1em;
    h5{
        margin: 0px;
        color: var(--ion-color-primary);
    }
    .btnNext{
        width: max-content;
        display: block;
        margin: 1em 0em 0em auto;
    }
    .buttons{
        margin: 2em 0em;
        height: 1px;
        .btnBack, .btnNext{
            width: max-content;
            display: initial;
            margin: initial;
        }
        .btnBack{
            float: left;
        }
        .btnNext{
            float: right;
        }
    }
}

@media only screen and (min-width: 800px) {
    .formAddType{
        width: 95%;
        // margin: em 0em;
    }
    .conFaqs{
        margin-top: 1em;
        p, button{
            font-size: small;
        }
    }
    .wrapper{
        grid-template-columns: 70% 30%;
        display: grid;
        align-items: flex-start;
    }
}