<ion-header  class="ion-no-border" mode="md">
  <ion-toolbar color="primary">
    <ion-button [routerLink]="['/landingpage']" expand="block" fill="clear" color="light" shape="round" slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <br>
  <form *ngIf="phase == 1">
    <ion-item lines="none" aria-details="none" class="form-title">
      <h1 color="primary" class="lg-text primary"><strong><i class="fa fa-user-plus me-2"></i>Create Account</strong></h1>
    </ion-item>
    
    <ion-slides  [options]="slideOpts" #slides  class="swiper-no-swiping">
      <ion-slide>
        <div >
          <ion-item >
            <ion-label position="floating">Username<ion-text color="danger">*<span id='username_warning'>the username is taken</span></ion-text></ion-label>
            <ion-input required  type="text" [(ngModel)]="user_inputs.Username" [ngModelOptions]="{standalone: true}" tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Username }}</h1>
        </div>
        
        <div >
          <ion-item >
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required [type] = "showPassword1 ? 'text' : 'password'"  [(ngModel)]="user_inputs.Password" [ngModelOptions]="{standalone: true}" tabindex="-1"></ion-input>
            <ion-icon (click)="togglePassword(1)" class="eye" slot="end" [name]="passwordToggleIcon1"></ion-icon>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Password }}</h1>
        </div>
        
        <div>
          <ion-item>
            <ion-label position="floating">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required [type] = "showPassword2 ? 'text' : 'password'" [(ngModel)]="password_retype" [ngModelOptions]="{standalone: true}"  tabindex="-1"></ion-input>
            <ion-icon (click)="togglePassword(2)" class="eye" slot="end" [name]="passwordToggleIcon2"></ion-icon>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.confirmPassword }}</h1>
        </div>
        
        <!-- <br><br> -->
      </ion-slide>

      <ion-slide>
        <div>
          <ion-item>
            <ion-label position = "floating">Firstname<ion-text color="danger" >*</ion-text></ion-label>
            <ion-input  type="text" [(ngModel)]="user_inputs.Firstname" [ngModelOptions]="{standalone: true}"  tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Firstname }}</h1>
        </div>

        <div>
          <ion-item>
            <ion-label position="floating">Lastname <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type = "text"[(ngModel)]="user_inputs.Lastname" [ngModelOptions]="{standalone: true}"  tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Lastname }}</h1>
        </div>
        
        <div>
          <ion-item>
            <ion-label position="floating">Middlename <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type = "text" [(ngModel)]="user_inputs.Middlename" [ngModelOptions]="{standalone: true}" tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Middlename }}</h1>
        </div>
        <div>
          <ion-item>
            <ion-label position="stacked">Birthdate <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type = "date" [(ngModel)]="user_inputs.Birthdate" [ngModelOptions]="{standalone: true}"  tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Birthdate }}</h1>
        </div>
      </ion-slide>
      

      <ion-slide>
        <div>
          <ion-item>
            <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type="Email" [(ngModel)]="user_inputs.Email" [ngModelOptions]="{standalone: true}"  tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Email }}</h1>
        </div>  
        <div>
          <ion-item>
            <ion-label position="floating">Address <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type = "text" [(ngModel)]="user_inputs.Address" [ngModelOptions]="{standalone: true}"  tabindex="-1"></ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.Address }}</h1>
        </div>
        <div>
          <ion-item>
            <ion-label position="floating">Contact Number <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  type = "tel" [(ngModel)]="user_inputs.Contact_Number" [ngModelOptions]="{standalone: true}" maxlength = "10" tabindex="-1" placeholder="xxxxxxxxxx">+63 </ion-input>
          </ion-item>
          <h1 class="sm-text m-0 p-0  danger">{{ errors.User_Contact_Number }}</h1>
        </div>  
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-list-header>
            <ion-label color="tertiary">Almost there!</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>What type of user are you?</ion-label>
            <ion-select  cancelText="cancel" okText="enter" [(ngModel)]="user_inputs.User_Type" [ngModelOptions]="{standalone: true}" tabindex="-1">
              <ion-select-option value="tenant">Tenant</ion-select-option>
              <ion-select-option value="property owner">Property Owner</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <br>
          <label id="form_inc_warning">Please complete the Sign up form</label> -->
          <h1 class="sm-text m-0 p-0  danger">{{ errors.User_Type }}</h1>
          <br> 
          <ion-button expand = "full" color="tertiary"  (click)="createAcc()" tabindex="-1">Finish</ion-button>
        </ion-list>
      </ion-slide>
      
    </ion-slides>

    <div *ngIf="validating">
      <ion-item lines="none">
        <ion-spinner name="lines-small" ></ion-spinner> <label class="sm-text secondary">Validating</label>
      </ion-item>
    </div>

    <br>
    <div class="buttons">
      <ion-button id="back" expand="block"  class="next"  color="medium" (click)="swipeBack()" tabindex="-1">
        Back
       <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button id="next" expand="block" class="next"  color="primary" (click)="swipeNext()" tabindex="-1">
        Next
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>

    <ion-card class="terms" *ngIf="phase == 2">
      <ion-card-header>
        <ion-card-title>User Agreement</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="content">
          <iframe src="../assets/TERMS_AND_CONDITIONS.html" frameborder="0"></iframe>
        </div>
        <h6 style="text-align: center;">By clicking the "I Agree" button, you agree to the Terms and Conditions stated above.</h6>
        <ion-button expand="block" (click)="gotoVerify()">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          I Agree
        </ion-button>
      </ion-card-content>
    </ion-card>


    <ion-card class="verify" *ngIf="phase == 3">
      <ion-card-header>
        <ion-card-title>Verify Email</ion-card-title>
      </ion-card-header>
      <input type="password" maxlength="6" [(ngModel)]="codeInput">
      <h6>Enter the code here we sent to your Email</h6>
      <h6>Didn't receive a code? <span class="resend" (click)="resend()">resend</span></h6>
      <ion-button color="primary"  expand="block" (click)="verify()">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Verify
      </ion-button>
    </ion-card>

</ion-content>
