<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentPopover($event)" >
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="primary">{{'Boarding House Name'}}</ion-label><br>
    <ion-label>{{active}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-label>adsdfsdfs</ion-label> -->
  <!-- <ion-tabs > -->
    <!-- <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="announcements" (click)="headerChange('Announcements')" title="View  your Announcements">
        <ion-icon name="megaphone"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="members" (click)="headerChange('Tenants')" title="View your Tenants">
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
        
      <ion-tab-button tab="home" (click)="headerChange('Home')" title="View your Rental house Profile">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="contacts" (click)="headerChange('Contacts')" title="View your Rental house Contacts">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="reservations" (click)="headerChange('Reservations')" title="View your Rental house Reservations">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="bhsettings" (click)="headerChange('About')" title="View your Rental house Settings">
        <ion-icon name="information"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
