<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="wrapper">
      <ion-button fill="clear" [routerLink]="['/tagapangasiwa/dashboard']" >
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        Back
      </ion-button>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <table>
      <tr>
        <th>Content</th>
        <th>Sender ID</th>
        <th>Sender Name</th>
        <th>Date Sent</th>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, totam perferendis corporis consectetur officiis vel nam ratione hic velit adipisci..</td>
        <td>Lorem, ipsum dolor.</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>date</td>
      </tr>
    </table>
  </div>

</ion-content>
