<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <!-- <ion-title>resexp</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" expand="block" fill="clear" color="light" slot="end">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <h6>This will set all your reservations to expire within your desired number of days if not approved or entertained.</h6>
    <ion-item>
      <ion-label position="floating">Enter your preferred number of days</ion-label>
      <ion-input type="number" placeholder="eg 5"></ion-input>
    </ion-item>
  </div>
</ion-content>
