

<ion-content>

  <ion-item button [routerLink]="['/boardinghouse/dashboard']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="apps"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/announcements']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="megaphone"></ion-icon>
    <ion-label>Announcements</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/members']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>Tenants</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/home']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="home"></ion-icon>
    <ion-label>Rental House Profile</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/contacts']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="call"></ion-icon>
    <ion-label>Contacts</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/bhreservations']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="book"></ion-icon>
    <ion-label>Inquiries</ion-label>
    <ion-badge color="secondary" mode="ios" slot="end" *ngIf="ReservationCount > 0">{{ReservationCount}}</ion-badge>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/bhmsg']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="chatbubble-ellipses-sharp"></ion-icon>
    <ion-label>Messages <span style="font-size: 20px; color: var(--ion-color-secondary);"  *ngIf="HasNewMessage">•</span></ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/paymentrecords']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="folder"></ion-icon>
    <ion-label>Payment Records</ion-label>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/tcomplaints']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="sad"></ion-icon>
    <ion-label>Complaints</ion-label>
    <ion-badge color="secondary" mode="ios" slot="end" *ngIf="ComplaintNumber > 0">{{ComplaintNumber}}</ion-badge>
  </ion-item>
  <ion-item button [routerLink]="['/boardinghouse/bhsettings']" routerLinkActive="router-link-active" lines ='none' (click)="dismiss($event)" mode="md">
    <ion-icon slot="start" name="settings"></ion-icon>
    <ion-label>Rental House Settings</ion-label>
  </ion-item>
  

</ion-content>
