ion-content{
    .wrapper{
        // border: 1px solid lightgrey;
        width: 100%;
        max-width: 700px;
        margin: 1em auto;
        ion-card{
            width: 95%;
            margin: 1em auto;

        }
        span{
            color: var(--ion-color-primary);
        }
        ion-item{
            margin: .5em auto;
            div{
                h6{
                    font-size: 13px;
                    color: var(--ion-color-primary);
                }
                h5{

                }
            }
        }
        .private-img{
            width: 70%;
            margin: auto;
            h4{
                text-align: center;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    
}