<ion-header >
  <ion-toolbar mode="md" color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-button (click)="showRegisterForm()" slot="end" >
      <ion-icon slot="end" name="home"></ion-icon>
      Register
    </ion-button>
    <ion-title>Owned Rental House</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="add_house a11" (click)="showRegisterForm()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="wrapper shadow-sm " *ngIf="!loading">
    <div>
      <h1 class=" md-text text-bold">Registered Properties</h1>
    </div>
    <div>
      <div  class="empty-message"  *ngIf="yourHouses.length == 0 || !yourHouses">
        <h1>No Registered Property</h1>
      </div>
      <div class="rh-item " *ngFor="let i of yourHouses">
        <div class="rh-item-data">
          <h1 class="rh-title">{{ i.RRP_Name }}</h1>
          <h1 class="rh-address">{{ i.RRP_Address }}</h1>
        </div>
        <div class="rh-item-action">
          <ion-button  expand="block"  (click)="manageRH(i.RRP_ID, i.RRP_Name)">
            <ion-icon slot="start" name="home"></ion-icon>
            Manage
          </ion-button>
        </div>
      </div>
    </div>
  </div>

 <!--  <div class="welcome-message" *ngIf="yourHouses.length == 0 || !yourHouses">
    <ion-img src="https://image.freepik.com/free-vector/building-exterior-with-open-windows-people_74855-6268.jpg"></ion-img>
    <h1>Welcome Landlord, start managing your Rental Houses now.</h1>
    <p>Click on the add/register button to add new rental house</p>
  </div> -->
  

  

</ion-content>
