@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
ion-header{
    ion-toolbar{
        :nth-child(2){
            margin-right: 2em;
            --background:  #0078EE;
            &:hover{
                --background: grey;
            }
        }
    }
}

.add_house{
    margin: auto;
    margin-bottom: 1em;
    // width: 200px;
    --background:  #0078EE;
    color: white;
    display: none;
    &:hover{
        --background: grey;
        
    }   
}

ion-content {
    .a11{
       margin-top: .5em;
    }
    /* ion-list {
        background: none;
        margin: auto;
        max-width: 600px;
        ion-card {
            ion-card-content{
                ion-buttons{
                    grid-template-columns: 50% 50%;
                    display: grid;
                    width: 100%;
                    margin-bottom: 1em;
                    margin-top: 1em;
                    ion-button{
                        // --background: #0bdaff;
                        &:hover{
                            // --background: grey;
                            color: white;
                        }
                    }
                    .del{
                        --background: #c5c5c5;
                    }
                }
            }
        }
    } */

    .welcome-message{
        width: 90%;
        max-width: 600px;
        margin: 1em auto;
        ion-img{
            width: 300px;
            margin: auto;
        }
        h1{
            color: rgb(65, 64, 82);
            text-align: center;
            font-family: 'Nunito', sans-serif;
        }
        p{
            font-family: 'Nunito', sans-serif;
            text-align: center;
            opacity: 70%;
        }
    }

    .wrapper{
        background-color: white;
        padding: 1em;
        max-width: 600px;
        margin: 0em auto;
        .empty-message{
            color: var(--ion-color-medium);
            h1{
                font-size: medium;
            }
            text-align: center;
        }
        .rh-item{
            padding: 1em;
            margin-bottom: .5em;
            border: .5px solid var(--ion-color-medium);
            border-radius: .3em;
            grid-template-columns: 2fr 1fr;
            display: grid;
            align-items: center;
            .rh-title, .rh-address{
                font-size: medium;
                margin: 0em;
                padding: 0em;
            }
            .rh-title{
                font-weight: bold;
            }
            .rh-address{
                color: gray;
            }
            .rh-item-data{
                grid-column: auto;
            }

        }
    }
    
}

@media screen and(max-width: 450px){
    .add_house{
        display: flex;
    }
    ion-header{
        ion-toolbar{
            :nth-child(2){
                display: none;

            }
        }
    }

    ion-content {
        ion-list {
            ion-card {
                ion-card-content{
                    ion-buttons{
                        grid-template-columns: 50% 50%;
                    }
                }
            }
        }
    }
}
