<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>Create new Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button  expand="block"  fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position='floating'>Contact Name</ion-label>
      <ion-input type="text"  [(ngModel)]="contactInput.Contact_Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'>Contact Number (e.g. 09502340784)</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="contactInput.Contact_Number">+63</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'>Contact Purpose (e.g. maintenance, emergency)</ion-label>
      <ion-input type="text" [(ngModel)]="contactInput.Contact_Type"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addContact()">
      Add
    </ion-button>
  </ion-list>


</ion-content>
