<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" expand="block" fill="clear" shape="round" slot="end" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="wrapper">
    <ion-item >
      <ion-label position="stacked">Rental House Name</ion-label>
      <ion-input type="text" [(ngModel)]="RH_Details.RRP_Name"  [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item >  
      <ion-label  position="stacked">Address</ion-label>
      <ion-input type="text" [(ngModel)]="RH_Details.RRP_Address"  [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <!-- <ion-item >
      <ion-label position="stacked">Capacity</ion-label>
      <ion-input type="number"  [(ngModel)]="RH_Details.RRP_Capacity"  [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label>Rental House Type</ion-label>
      <ion-select [value]="RH_Details.RRP_Type" multiple="false"interface="popover" [(ngModel)]="RH_Details.RRP_Type"  [ngModelOptions]="{standalone: true}">
        <ion-select-option value="house for rent">House for rent</ion-select-option>
        <ion-select-option value="bed space">Bed Space</ion-select-option>
        <ion-select-option value="female bed space">Female Bed Space</ion-select-option>
        <ion-select-option value="male bed space">Male Bed Space</ion-select-option>
        <ion-select-option value="room for rent">Room for Rent</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item >
      <ion-label position="stacked">Rent Rate</ion-label>
      <ion-input type="number"  [(ngModel)]="RH_Details.RRP_Rent_Rate"  [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="stacked">Contact Number</ion-label>
      <ion-input type="number"  [(ngModel)]="RH_Details.Contact_Number"  [ngModelOptions]="{standalone: true}">+63</ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="stacked">Description</ion-label>         
      <!-- <ion-input type="text"  [(ngModel)]="RH_Details.RRP_Description"  [ngModelOptions]="{standalone: true}"></ion-input> -->
      <ion-textarea [(ngModel)]="RH_Details.RRP_Description"  [ngModelOptions]="{standalone: true}"></ion-textarea>
    </ion-item>

    <br>
    <ion-button expand="block" (click)="update()">
      Update
    </ion-button>
  </div>

</ion-content>
