ion-content{
    .wrapper{
        margin: auto;
        max-width: 600px;
        .call{
            color: rgb(47, 201, 93);
            cursor: pointer;
            &:hover{
                opacity: 70%;
            }
        }
        .con{
            :first-child{
                color : rgb(15, 125, 189);
                font-size: 13px;
            }
        }
        ion-list{
            margin-top: 1em;
            .noup{
                text-align: center;
                margin: 1em 0em;
                color: var(--ion-color-medium)
            }
            .log{
                --background: #F4F4F4;
                h1{
                    font-size: 13px;
                    font-weight: normal;
                    span{
                        color: rgb(15, 125, 189);
                        // opacity: 70%;
                    }
                }
            }
            .meet-det{
                margin-top: 1em;
                h6{
                    width: 95%;
                    margin: auto;
                    font-size: 14px;
                }
            }
        }
        .section-header{
            font-size: large;
            font-weight: bold;
            margin: 1em 0em 1em 1em;
        }
        .section{
            background-color: white;
            padding: 1em 0em;

        }
    }
        
}