<ion-header  >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Checklist</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-header >
  <ion-toolbar mode="ios">
    <ion-segment  id="segment" mode="ios" [(ngModel)]="segmentValue">
      <ion-segment-button value="unchecked" (click)="filter('unchecked')">
        <ion-label>Uncheked</ion-label>
      </ion-segment-button>
      <ion-segment-button value="checked" (click)="filter('checked')">
        <ion-label>Checked</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="wrapper">
    <ng-container *ngIf="segmentValue === 'unchecked'">
      <ng-container *ngFor="let i of Checklist">
        <ion-item  *ngIf="!i.Check_Status">
          <ion-label class="ion-text-wrap">{{i.RRP_Name}}</ion-label>
          <ion-checkbox slot="start" [checked]="i.Check_Status" mode="ios" color="tertiary" (ionChange)="check(i.Checklist_Id,i.Check_Status)"></ion-checkbox>
          <ion-button slot="end" expand="block" fill="clear" shape="round" color="tertiary" (click)="visit(i.RRP_ID)">View</ion-button>
        </ion-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="segmentValue === 'checked'">
      <ion-button expand="block" fill="clear" shape="round" class="clear-all" (click)="clear()">
        Clear All
      </ion-button>
      <ng-container *ngFor="let i of Checklist">
        <ion-item  *ngIf="i.Check_Status">
          <ion-label class="ion-text-wrap">{{i.RRP_Name}}</ion-label>
          <ion-checkbox slot="start" [checked]="i.Check_Status" mode="ios" color="tertiary" (ionChange)="check(i.Checklist_Id,i.Check_Status)"></ion-checkbox>
          <ion-button slot="end" expand="block" fill="clear" shape="round" color="tertiary">Visit</ion-button>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>


  <!-- <ion-list>
    <ion-list-header>
      <ion-label>To visit</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let item of checklist" >
      <ion-item  lines = "none">
        <ion-label>{{item.houseName}}</ion-label>
        <ion-checkbox slot="start" checked = "{{item.visited}}"></ion-checkbox>
        <ion-button slot="end" expand="block" fill="clear" shape="round" color="tertiary" [routerLink]="[item.url]"  >Visit</ion-button>
      </ion-item>
    </ion-card>
  </ion-list> -->

  <!-- <ion-list>
    <ion-list-header>
      <ion-label>Visited</ion-label>
      <ion-button>Clear All</ion-button>
    </ion-list-header>
    <ion-card *ngFor="let item of visitedChecklist" >
      <ion-item lines = "none">
        <ion-label>{{item.houseName}}</ion-label>
        <ion-checkbox slot="start" checked = "{{item.visited}}" disabled = "true"></ion-checkbox>
        <ion-button slot="end" expand="block" fill="clear" shape="round" color="tertiary" [routerLink]="[item.url]"  >Visit</ion-button>
      </ion-item>
    </ion-card>
  </ion-list> -->

</ion-content>
