ion-content{
    .wrapper{
        max-width: 800px;
        margin: 1em auto;
        padding: 0px;
        .clear-all{
            &:hover{
                color: #e44632e0;
            }
        }
    }
}